img {
    display: block;
    margin: 0 auto;
}

img:nth-child(1){
    height: 200px;
    margin: 20px;
    float: right;
}

img:nth-child(2){
    width: 200px;
    clear: both;
}

img:nth-child(3){
    margin: 20px;
    width: 200px;
    height: 200px;
    float: left;
}