@font-face {
    font-family: 'Awesome';
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Awesome;
}

header {
    background-image: url(./images/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
    width: 100%;
    text-align: center;
}

header h1 {
    color: whitesmoke;
}

header button {
    padding: 2% 6%;
    border-radius: 50px;
    border: none;
    background: rgb(29, 111, 178);
    color: white;
}

nav h1 {
    text-align: center;
    color: gray;
}

nav span {
    color: orange;
    border: 4px solid gray;
    border-right: none;
    padding-left: 1%;
}

nav ul {
    background: rgb(129, 195, 245);
    color: white;
    text-align: center;
}

nav li {
    padding: 1% 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

section {
    width: 80%;
    display: block;
    margin: 10% auto;
}

section h1 {
    text-align: center;
    margin: 0;
}

hr {
    display: block;
    margin: 4% auto;
    width: 30%;
}

section h2 {
    margin: 4% 0;
    color: rgb(129, 195, 245);
}

section p {
    margin: 5% 0;
    line-height: 150%;
}

section ul {
    list-style-position: inside;
    list-style-image: url(./images/arrow_bullet.png);
}

section li {
    margin: 4% 0;
}

section img {
    width: 100%;
}