@font-face {
    font-family: 'Awesome';
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Awesome;
}

header {
    background-image: url(./images/banner3.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px 30px;
    width: 100%;
    text-align: center;
}

header h1 {
    color: whitesmoke;
    font-size: 170%;
}

header button {
    padding: 2% 6%;
    border-radius: 50px;
    border: none;
    background: rgb(29, 111, 178);
    color: white;
}

nav h1 {
    text-align: center;
    color: gray;
}

nav span {
    color: orange;
    border: 4px solid gray;
    border-right: none;
    padding-left: 3%;
}

nav ul {
    background: rgb(129, 195, 245);
    color: white;
    text-align: center;
}

nav li {
    padding: 1% 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

section {
    width: 80%;
    display: block;
    margin: 10% auto;
}

section h1 {
    text-align: center;
    margin: 0;
}

hr {
    display: block;
    margin: 4% auto;
    width: 30%;
}

section h2 {
    margin: 4% 0;
    color: rgb(129, 195, 245);
}

section p {
    margin: 5% 0;
    line-height: 150%;
}

section ul {
    list-style-position: inside;
    list-style-image: url(./images/arrow_bullet.png);
}

section li {
    margin: 4% 0;
}

section img {
    width: 100%;
}

article {
    background: rgb(129, 195, 245);
    color: white;
    width: 100%;
    padding: 5% 2%;
    margin: 3% 0;
}

article img {
    border: 2px solid white;
    padding: 0.5%;
    margin: 3% 2%;
    border-radius: 50%;
    max-width: 95px;
    display: inline-block;
}

article h3 {
    color: black;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 7% 0 0 2%;
}

.stars {
    display: inline-block;
    margin: 0;
    color: white;
}

article p {
    line-height: 180%;
    margin: 0;
}

.about {
    width: 100%;
}

.contact {
    background: rgb(58,221,154);
    width: 100%;
    text-align: center;
    color: white;
    padding: 5% 0;
}

.contact h3 {
    margin-bottom: 3%;
}

.contact p{
    margin: 1% 0;
}

.contact span {
    font-size: 150%;
    margin-right: 1%;
}

.connect {
    background: rgb(252,82,130);
    width: 100%;
    text-align: center;
    color: white;
    padding: 5% 0;
}

.connect h3 {
    margin-bottom: 5%;
}

.connect img {
    display: inline-block;
    width: 5%;
}

.address {
    background: rgb(55,108,228);
    width: 100%;
    text-align: center;
    color: white;
    padding: 5% 0;
}

.address h3 {
    margin-bottom: 5%;
}

.house {
    background: rgb(129, 195, 245);
    max-height: 300px;
}

.form {
    width: 90%;
}

input {
    display: block;
    width: 100%;
    margin: 5% 0;
    padding: 3%;
}

textarea {
    display: block;
    width: 100%;
    padding: 3%;
}

input[type="submit"] {
    width: 30%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: rgb(253,151,39);
}

footer {
    width: 100%;
    color: white;
    background-color: rgb(33, 33, 33);
    text-align: center;
    font-weight: bold;
    padding: 10%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer li {
    display: inline-block;
    margin: 0 2% 8% 0;
}

@media (min-width: 768px) {

    header {
        padding: 20% 8%;
    }

    nav h1 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 3%;
        text-align: left;
        color: white;
        width: 30%;
        font-size: 150%;
    }

    nav span {
        border-color: white;
    }

    nav ul {
        position: absolute;
        width: 50%;
        margin: 3%;
        text-align: right;
        top: 0;
        right: 0;
        color: white;
        font-weight: bold;
        background: none;
        font-size: 80%;
    }

    nav li {
        display: inline-block;
        width: auto;
        margin: 0 2%;
    }

    .welcome {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }

    section img {
        width: 48%;
        display: inline-block;
    }

    article {
        width: 47%;
        display: inline-block;
    }

    .firstArticle {
        margin-right: 5%;
    }

    .contact, .connect, .address, .house {
        display: inline-block;
        height: 200px;
        float: left;
        width: 50%;
    }

    input {
        width: 31%;
        display: inline-block;

    }
    input[name="email"] {
        margin: 0 2%;
    }

    input[type="submit"] {
        width: 20%;
    }
}

@media (min-width: 1200px) {

    .welcome, .weMake, section img {
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }

    section img {
        margin: 0 3%;
    }

    .testemonials {
        display: block;
        margin: 0 auto;
    }

    .firstArticle {
        margin: 0;
    }

    .secondArticle {
        margin: 0 3%;
    }

    article {
        width: 31%;
        padding-top: 2%;
        padding-bottom: 3%;
    }

    section {
        width: 90%;
        margin-top: 2%;
    }

    .house {
        margin: 0;
    }

    .contact, .connect, .address, .house {
        display: inline-block;
        height: 200px;
        float: left;
        width: 25%;
        padding-top: 4%;
    }

    .form {
        width: 70%;
        margin-bottom: 0;
    }

    footer {
        padding-top: 7%;
        padding-bottom: 5%;
    }

    input {
        padding: 2%;
        width: 31%;
    }
}
    